.sidenav {
  width: 250px;
  height: 100vh;
  background-color: #1a1a2e;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00f7ff;
  margin-bottom: 30px;
  text-align: center;
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidenav ul li {
  margin: 15px 0;
}

.sidenav ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 18px;
  display: block;
  padding: 10px 15px;
  border-radius: 8px;
  transition:  0.3s, color 0.3s;
}

.sidenav ul li a:hover {
  background-color: #16213e;
  color: #00f7ff;
}

.sidenav ul li a.active {
  background-color: #0f3460;
  color: #fff;
}
